@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap");
@import url("https://use.typekit.net/etw8xxt.css");
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
}
p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
h1 {
    padding: 15px;
    font-size: 24px;
    font-weight: 800;
}
main {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(0deg, #b6c2db 55%, #97beee 100%);
}
div {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}
button,
::file-selector-button {
    color: white;
    background-color: #ec4899;
    padding: 20px 30px 20px 30px;
    margin: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 500;
    transition: transform 0.1s ease-in;
    text-align: center;
    box-shadow: 0px 8px 0px -1px rgba(118, 36, 76, 1);
    -webkit-box-shadow: 0px 8px 0px -1px rgba(118, 36, 76, 1);
    -moz-box-shadow: 0px 8px 0px -1px rgba(118, 36, 76, 1);
}
button:active {
    // color: green;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.full {
    width: 100%;
    min-height: 100vh;
    // background-color: #97beee;
    background-image: url(../assets/bg2.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    // display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 30px 30px 30px;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    display: inline-block;
    // text-align: center;
    height: 20vh;
    #logo {
        height: 20vh;
    }
    .main-site {
        font-family: "Mitr", serif;
        font-weight: 900;
        float: right;
        position: absolute;
        top: 5%;
        right: 3%;
        color: black;
        // font-size: 1.7rem;
        a:link {
            text-decoration: inherit;
            color: inherit;
        }
        a:visited {
            text-decoration: inherit;
            color: inherit;
        }
    }
}
.content {
    display: inline-block;
    width: 50%;
    background-color: rgb(40, 38, 38, 0.7);
    padding: 40px;

    border-style: inset;
    // border-color: #ec4899;
    border-top-color: #FFC700;
    border-left-color: #FFC700;
    border-bottom-color: #FFE200;
    border-right-color: #FFE200;
    border-radius: 20px;
    .supply {
        text-align: "center";
        font-size: 50px;
        font-weight: "bold";
    }
    .address {
        a:link {
            color: #FFE200;
        }
        a:visited {
            color: #FFE200;
        }
        a:hover {
            //TODO: scale font not the div
            transform: scale(102%);
        }
    }
    .connect {
        font-family: "Rubik", sans-serif;
        font-size: 20px;
        font-weight: 700;
        gap: 10px;
        .connect-button {
            font-weight: 700;
        }
    }

    .increment {
        flex-direction: row;
        display: flex;
        justify-content: center;
        row-gap: 50px;
        #center {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
        }
        .increment-button {
            padding: 10px;
            border-radius: 100%;
            border: none;
            padding: 10px;
            font-weight: bold;
            font-size: 15px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 6px 0px -2px rgba(118, 36, 76, 1);
            -webkit-box-shadow: 0px 6px 0px -2px rgba(118, 36, 76, 1);
            -moz-box-shadow: 0px 6px 0px -2px rgba(118, 36, 76, 1);
        }
        .increment-button:active {
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }
    }
}
.info {
    margin-top: 60px;
    display: inline-block;
    width: 70%;
    background-color: rgb(40, 38, 38, 0.7);
    padding: 20px;

    border-style: inset;
    border-top-color: #FFC700;
    border-left-color: #FFC700;
    border-bottom-color: #FFE200;
    border-right-color: #FFE200;
    border-radius: 20px;
    p {
        font-size: 0.8em;
    }
}
